@font-face {
    font-family: 'æ¥·ä½“a';
    src: url(./simkai.ttf)
}

@font-face {
    font-family: 'a';
    src: url(./simsun.ttc)
}
@font-face {
    font-family: 'sam';
    src: url(./news.ttf)
}
*{padding: 0;margin: 0;text-decoration: none;list-style: none;box-sizing: border-box;}
html,body{width:100%;height:100%;background-color: black;overflow: auto}
.index_result{display: none}
.index_result>div{margin: 0 auto}

.index_art{display: flex;justify-content: center;align-items: center;margin-top: 30px;width:570px;padding-bottom: 40px}
.index_line{width:80px;height: 3px;background-color: white;}
.index_num{color: white;margin: 0 10px;font-size: 30px}
body{background-image: url(/assets/img/bgimg.png);background-size:cover;background-position: center;background-repeat: no-repeat;background-attachment: fixed;}
.index_top{display:flex;justify-content: center;align-items: center;color:white;font-weight: bold;font-size: 40px;font-family:å®‹ä½“;margin:100px 0}
.index_sec{display: flex;justify-content: center;align-items: center;}
.index_outer{margin-top:100px;width:270px;margin:300px auto}
.index_item{display: flex;margin-top: 20px;}
.index_left{width:54px;color: white;letter-spacing: 2px;font-family: å®‹ä½“;text-align: justify;text-align-last: justify;margin-right: 10px;}
.index_right{flex: 1;}
.index_right input{border: none;outline:none;height:30px;padding-left: 10px;}
.index_footer{margin-top: 20px;text-align: center;}
.index_footer button{background-color: #cf010e;color: white;text-align: center;width:50%;height: 40px;line-height: 40px;border: none;border-radius: 4px;}
.index_footer button:active{background-color: red;font-size: 16px;}
table{width:370px;margin: 40px auto;border-color: white;}
td,th{text-align:center!important;padding: 10px 20px;color: white}
.allbox {width: 842px;height: 595px;margin: 0 auto;display: none;}
	.conbox {padding: 65px 110px;display: flex;height: 100%;width: 100%;box-sizing: border-box;}
	.boxleft {width: 50%;padding: 0px 42px 0 0px;box-sizing: border-box;position: relative;}
	.boxlefttitle {width: 100%;text-align: center;font-size: 20px;font-family:'sam' ;font-weight: bold;padding-top:40px;}
	.boxleftcon {margin-top: 35px;font-family: 'æ¥·ä½“';font-size: 17.5px;text-indent: 2em}
	.boxleftbottom {position: relative;margin-top: 50px;text-align: center;}
	.boxleftbottom p {position: absolute;left: 0;bottom: -5px;width: 100%;font-family: é»‘ä½“;}
	.boxright {width: 50%;padding: 0 10px 0 60px;box-sizing: border-box;}
	.boxrightimg {text-align: center;margin-top: 60px;height: 110px;width: 100%;display: flex;justify-content: center;padding-left:70px;}
	.boxrightcon {display: flex;justify-content: center;flex-direction: column;margin-top: 20px;font-size: 14px;}
	.boxrightitem {height: 37px;display: flex;align-items: center;}
	.boxitemkey {width: 60px;text-align-last: justify;}
	.boxitemvalue {flex: 1;border-bottom: 1px solid #000;text-align: center;height:25px;}
	.boxitemvalue input{outline: none;border: none;width: 100%;text-align: center;background: transparent;font-family: æ¥·ä½“;height:31px;}



	#clipArea {margin: 20px auto;height: 400px;width: 400px;}
	#view {margin: 0 auto;height: 120px;width: 110px;}
	.modal{background: rgba(0,0,0,0.5);}
	.title{margin: 10px auto 0px auto;font-size: 14px;overflow: hidden;display: block;background-color: #FFFFFF;height: 60px;line-height: 60px;padding-left: 20px;}
	.imgallcon{width: 1200px;}
	.cerbtns{display: flex;justify-content: center;align-items: center;padding-bottom: 20px;}
	#export{margin-left: 15px;}
	.cerhtmlimg{width: 100%;text-align: center;}
	.cerperson{width:70.865px;height:  99.211px;display: flex;justify-content: center;align-items: center;color: #6b6161;}
	#myModal #clipBtn{background-color: #0088CC;border-color: #0088CC;}
	.layui-layer-btn1:focus,.layui-layer-btn1:hover{color: #000;}
	.btn-group > .btn + .dropdown-toggle{height: 34px;}
	.cercenter{background-color: #fff;margin: 20px 0;padding:138px 0;}
		#myModal #clipBtn{background-color: #0088CC;border-color: #0088CC;}
	.layui-layer-btn1:focus,.layui-layer-btn1:hover{color: #000;}
	.btn-group > .btn + .dropdown-toggle{heifght: 34px;}

	.opbtns{display: flex;justify-content: center;margin-bottom: 15px;}
	.opbtnsfile{display: flex;justify-content: space-between;margin-bottom: 15px;}
	.opbtns button{margin:0 10px;width: 70px;}
	.modal-footer button{width:70px;}
	.opbtns input[type="file"]{display: inline-block;}
	.mobtn{margin:0 10px;width:80px;}
	.modal-footer button{width:80px;}
	#updata{margin-right: 16px;}

	.index_btn{text-align: center}
	.index_btn button{width:100px;height:30px;line-height: 30px;color: white;text-align: center;background-color: #ad0000;border: none;margin: 30px;}
	#index_down{display: none;}
	.index_btn button:active{color: red}
	.index_wei{text-align: center;margin: 20px 0;color: white;font-size: 16px;display: none;}
	.index_wei1{text-align: center;margin: 20px 0;color: white;font-size: 16px;display: none;}
	@media (min-width: 768px){
		.modal-dialog {width: 1200px;margin:5% auto 0;}
	}
	@media only screen and (max-width: 1600px) and (min-width: 1279px){
	    .cercenter{padding: 4% 0;}
		.modal-dialog {width: 1200px;margin: 0 auto ;}
		#clipArea{height: 300px;width: 300px;margin: 10px auto;}
		.modaltips{font-size: 18px;}
		.modal-footer{padding: 7px;}
		.opbtns{margin-bottom: 5px;}
	}
	@media only screen and (max-width: 1280px) and (min-width: 768px){
		.modal-dialog {width: 1200px;margin: 0 auto;}
		#clipArea{height: 250px;width: 250px;margin: 5px auto;}
		.modaltips{font-size: 15px;}
		.modal-footer{padding: 7px;}
		.opbtns{margin-bottom: 5px;}
		.modal-header{padding: 10px;}
	}
	@media only screen and (max-width: 768px){
		.index_top{font-size: 30px;background-color: red;}
		.index_outer{margin-top: 100px;}
	}
